* {
    //outline: 1px dashed lime;
}

body {
    overflow-x: hidden;
    font-family: 'Vollkorn', serif;
}

.Wrapper {
    min-width: 1830px;
}

.inner {
    width: 1830px;
    margin: 0 auto;
}


.Header {
    .top_header {

        line-height: 90px;
    }

    // .top_header:hover {
    //     display: block;
    //     position: fixed;
    // }

    .inner {
        display: flex;
        justify-content: space-between;

        h1 {
            width: 200px;
        }

        ul {
            display: flex;
            gap: 40px;
            font-size: 17px;
            font-weight: 500;
        }

        .icon {
            width: 200px;
            display: flex;
            justify-content: flex-end;


        }
    }

    .main_header {
        display: none;
        line-height: 120px;
        text-align: center;
    }
}


.Store {
    .name {
        position: relative;

        .frdes {
            color: #333;
            font-size: 30px;
            position: absolute;
            inset: 50% auto auto 50%;
            transform: translate(-50%, -50%);
        }

    }


    .whole {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);

    }

    .one {
        grid-column: 1 / 2;
        grid-row: 1;
        overflow: hidden;
        height: 400px;
    }

    .two {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: hidden;
        height: 400px;
    }

    .three {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        overflow: hidden;
        height: 400px;
    }

    .four {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        overflow: hidden;
        height: 400px;
    }

    .five {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        overflow: hidden;
        height: 400px;
    }

    .six {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        overflow: hidden;
        height: 400px;
    }
}





.Footer {

    .inner {
        border-top: 2px solid #000;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 30px;
            font-weight: 600;
        }

        .left {
            font-family: 'Pretendard';
            gap: 15px;
            font-size: 13px;

        }

        .sns {
            font-weight: 600;
        }
    }
}